<div>
  <h1 class="text-success text-center">Welcome to CoinApp!</h1>
    <p class="fs-3", "text-center"> CoinApp - the financial planning, review,
       expense tracking, and personal asset management app.
        CoinApp makes managing personal finances as easy as pie!
        Now easily record your personal and business financial transactions,
      generate spending reports, review your daily, weekly and monthly financial data
    and manage your assets with CoinApp's spending tracker and budget planner.</p>
</div>
 


