<div>
<h2>Editing category</h2>

<%= render "form", category: @category %>

</div>

<div>
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>
